

<div class="relative inline-block group cursor-pointer">
    <div class="relative w-4 h-4 flex items-center justify-center">
        <span
            class="absolute w-3 h-3 rounded-full bg-green-500 opacity-75 animate-ping -translate-y-5"
        ></span>
        <span class="relative w-2.5 h-2.5 rounded-full bg-green-500 -translate-y-5"></span>
    </div>

    <div
        class="invisible opacity-0 group-hover:visible group-hover:opacity-100 bottom-full left-1/2 -translate-x-1/2 mb-6 px-3 py-2 dark:text-neutral-50 text-neutral-900 text-xs font-medium whitespace-nowrap transition-all duration-300 z-10 absolute bg-[#171717] rounded-2xl from-white/10 to-transparent border border-white/10"
    >
        Disponible para trabajar
    </div>
</div>
