@import "tailwindcss";

/* Estilo de scrollbar para navegadores webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
    /* ancho del scrollbar */
}

::-webkit-scrollbar-track {
    background: #1e1e24;
    /* color del fondo */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    /* color de la barra */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
    /* color al pasar el mouse */
}

/* Estilo de scrollbar para Firefox */
* {
    scrollbar-width: thin;
    /* "thin", "auto", o "none" */
    scrollbar-color: #3f3f3f #1e1e24;
    /* color barra y fondo */
}

/* Para asegurar que el scroll suave está activado */
html {
    scroll-behavior: smooth;
}

.radial-background {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle 100vw at top center,
            rgba(9, 64, 116, 0.8) 0%,
            rgba(9, 64, 116, 0.4) 20%,
            rgba(9, 64, 116, -0.2) 40%,
            rgba(0, 0, 10, 0.05) 70%,
            transparent 100%);
}

.hola{
    background-color: #95959514;
}

.top-line {
    background: linear-gradient(to bottom,
            #0a0a0a 0%,
            rgba(10, 10, 10, 0.9) 20%,
            rgba(10, 10, 10, 0.6) 50%,
            rgba(10, 10, 10, 0.3) 70%,
            transparent 100%);
}

.shake-left-right:hover {
    animation: shake-left-2 0.8s linear both;
}

.shake-left-right {
    animation: shake-left-right 0.8s linear both;
}

@keyframes shake-left-right {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}

@keyframes shake-left-2 {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}
