@import "tailwindcss";

@theme {
    /*Custom color*/
    --color-surface: #0000004d;
    --color-medium: #3f3f3f;
}

/* Estilo de scrollbar para navegadores webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
    /* ancho del scrollbar */
}

::-webkit-scrollbar-track {
    background: #1e1e24;
    /* color del fondo */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    /* color de la barra */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
    /* color al pasar el mouse */
}

/* Estilo de scrollbar para Firefox */
* {
    scrollbar-width: thin;
    /* "thin", "auto", o "none" */
    scrollbar-color: #3f3f3f #1e1e24;
    /* color barra y fondo */
}

/* Para asegurar que el scroll suave está activado */
html {
    scroll-behavior: smooth;
}

.shake-left-right:hover {
    animation: shake-left-2 0.8s linear both;
}

.shake-left-right {
    animation: shake-left-right 0.8s linear both;
}

@keyframes shake-left-right {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}

@keyframes shake-left-2 {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}