---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<section>
		<div
			class="min-h-screen flex flex-col justify-center px-6 md:px-12 lg:px-24"
		>
			<h1 class="text-5xl md:text-7xl font-bold max-w-3xl">
				Ingeniero de Sistemas<br />
				y Desarrollador
			</h1>
		</div>
	</section>
</Layout>
