---
import { ClientRouter } from "astro:transitions";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "./src/styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Miller Mosquera</title>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="description" content="Miller Mosquera - Backend Dev" />
		<meta name="author" content="Miller Mosquera" />
		<meta name="keywords" content="Frontend, Backend, Fullstack" />
		<meta name="twitter:card" content="summary_large_image" />
		<ClientRouter />
	</head>
	<body class="relative text-black dark:text-white">
		<div
			class="min-h-screen bg-gradient-to-b from-emerald-950 to-black text-white"
		>
			<Header />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		flex-direction: column;
		overscroll-behavior: none;
	}
</style>
